<%= form_for(task) do |t| %>

    <% if task.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= t.label :status, 'ステータス' %>
    <%= t.select :status, [ "新規", "着手", "未着手", "完了", "中止", "保留" ],:prompt => "選択してください" %>
    
    <%= t.label :content, 'タスク' %>
    <%= t.text_field :content %>
    
    <%= t.submit '投稿' %>
<% end %>
